# Ignore environment folders
env/
.venv/
venv/
ENV/
Lib/
lib/

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.so
*.dll
*.dylib
__phello__/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment config files
.env
*.sqlite3

# Ignore editor configs (optional)
.vscode/
.idea/
.nonadmin
